:root {
    --variables-bg: rgb(159, 159, 250) ;
    --functions-bg: rgb(222, 255, 73) ;
    --objects-bg: rgb(221, 159, 250) ;
    --arrays-bg: rgb(245, 129, 129) ;
    --light-yellow:#fff07d;
    --yellow: #f7df1e;
    --dark-yellow:#ffe100;
    --orange: orangered;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back{
  margin-left: 10px;
  font-size: 19px;
  padding:7px 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--yellow);
  color: black;
}

header{
  padding-top:12px;
  padding-bottom: 10px;
  font-size: 20px;
}
header > h1{
  text-align: center;
}

.main_content{
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_content_section{
  margin-top: 10px;
  background-color: white;
  padding: 25px;
  width: 20%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px; 
}

.ul_class{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  list-style: none;
}


