@import url(/src/assets/css/global.css);

#index{
    width:100%;
    height:100vh;
    background: linear-gradient(150deg, var(--dark-yellow), var(--yellow),var(--light-yellow) , var(--yellow),var(--dark-yellow) );
    overflow: hidden;
}

#index_header{
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

#index_content{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.exercises{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
  margin: 20px;
  font-style: none;
  color: #000000;
  background-color:var(--orange);  
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 70px;
  padding: 18px 36px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--orange);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.btn_slide_right:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 #000000;
    border:  2px solid var(--orange);
    scale: 1.1;
    font-weight: 900;
}

#btn_welcome{
    background-color:white;  
    border: none;
    border-radius: 15px;
    padding: 18px 36px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 10px 15px 8px var(--orange) ;
    letter-spacing: 1px;
}
#btn_welcome:hover{
    scale:1.2;
    border: 2px solid var(--orange);
    box-shadow: none ;
    font-weight: 900;
}