@import url(/src/assets/css/global.css);

#body_variables{
    background: var(--variables-bg);
}

header{
    font-size: 20px;
}
header > h1{
    text-align: center;
}
.title{
margin-bottom: 10px;
}

#main_variables{
    display: flex;
    justify-content: center;
}

